.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


*{
    font-family: "Google Sans", sans-serif;
}

body{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9rem;
}

.container{
    background-color: hsl(0, 0%, 100%);
    width: 42rem;
    padding: 1rem;
}

.container img{
    height: 20rem;
    width: 40rem;
    border-radius: 1.9rem;
    padding: 1rem;
}

.heading{
    padding-left: 1rem;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.headingBio{
    padding-left: 1rem;
    padding-top: 0rem;
    color: hsl(30, 10%, 34%);
}

.container1{
    width: 40rem;
    background-color: hsl(330, 100%, 98%);
    align-self: center;
    justify-self: center;
    margin-top: 2.8rem;
    border-radius: 1rem;
    height: 14rem;
    padding-left: 1rem;
    margin-bottom: 0;
}

.container1heading{
    padding: 1rem;
    font-size: 1.6rem;
    color: hsl(332, 51%, 32%);
}

ul{
    line-height: 2.3rem;
    font-size: 1.2rem;
}

.container2{
    padding: 1.5rem;
    margin-top: 1.5rem;
}

.container2heading{
    color: hsl(14, 45%, 36%);
    font-size: 2.3rem;
    margin-top: 0rem;
}

hr{
    color: hsl(332, 51%, 32%);
    height: 0px;
    width: 90%;
    opacity: 0.3;
}

.container3{
    padding-left: 2rem;
    color: hsl(30, 10%, 34%);
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

.container3heading{
    color: hsl(14, 45%, 36%);
    font-size: 2.3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

span{
    color: black;
    font-size: 1.2rem;
    color: hsl(30, 11%, 18%);
}

.container3 ol li::marker{
    color: hsl(14, 45%, 36%);
    font-size: 1.3rem;
}

.container4{
    margin-left: 2rem;
    margin-top: 2rem;
}

.container4heading{
    color: hsl(14, 45%, 36%);
    font-size: 2.3rem;
}

.headingBio1{
    color: hsl(30, 10%, 34%);
}

table {
  width: 100%;
  border-collapse: collapse;
}
    
tr {
  border-bottom: 1px solid brown;
}

td, th {
  padding: 10px;
}